html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

#app {
  display: flex;
  flex-direction: row;
}

#toc {
  align-items: flex-start;
  flex-direction: column;
  /* flex: 1; */
  padding-left: 1%;
  background-color: #eceff1;
  margin-right: 5%;
  overflow:initial;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 15vw;
}

#page {
  width: 80vw;
  padding-top: 5%;
  /* flex: 7; */
  padding-bottom: 5%;
  padding-right: 2vw;
}

.tocContent {
  cursor: pointer;
}

.samples {
  background-color: #455a64;
  color: white;
  width: 30vw;
  border-radius: 30px;
  min-height: 15vh;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  float: right;
  margin-left: 5%;
}

.samples::-webkit-scrollbar {
  display: none;
}

.code-sample-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #37474f;
  width: 100%;
  /* padding: 2%; */
  position: sticky;
  top: 0;
}

.code-sample-tabs .tab {
  cursor: pointer;
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.selected {
  background-color: #263238;
}

.code-sample-tabs .tab:hover {
  background-color: #263238;
}

.code-samples {
  padding-left: 2%;
}

.example-response {
  width: 40vw;
  max-height: 40vh;
  background-color: #eceff1;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-top: 2%;
  border-radius: 30px;
}
.example-response::-webkit-scrollbar {
  display: none;
}

.example-response-title {
  background-color: #cfd8dc;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 20px;
  width: 100%;
  position: sticky;
  top: 0;
}
.example-response-body {
  padding-left: 20px;
}
